<h1 mat-dialog-title class="text-2xl font-bold">Delete Confirmation</h1>
<div mat-dialog-content>
    <p class="text-lg">Are you sure you want to delete ?</p>
</div>
<div mat-dialog-actions class="mt-4 justify-center">
    <button mat-button (click)="onNoClick()" class="bg-gray-300 text-gray-700 hover:bg-gray-400 hover:text-gray-800 px-4 py-2 rounded-md mr-2">Cancel</button>
    <button mat-button color="warn" (click)="onYesClick()" class="bg-red-500 text-white hover:bg-red-600 px-4 py-2 rounded-md">Delete</button>
</div>
